<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 - 페이지를 찾을 수 없음</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>
<div class="container">
    <img src="https://image.staccato.kr/web/share/sad.png" alt="404 이미지" class="error-image" />
    <h1>404 ERROR</h1>
    <h2>요청하신 페이지를 찾을 수 없습니다</h2>
    <p>입력한 링크가 정확한지 다시 확인해 주세요.</p>
    <p>올바른 링크로 다시 시도해 주세요.</p>
    <a th:href="@{/}">메인으로</a>
</div>
</body>
</html>
