spring:
  config:
    activate:
      on-profile: prod
  application:
    name: staccato
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 10
      idle-timeout: 600000
      connection-timeout: 8000
      max-lifetime: 1800000
#    writer:
#      hikari:
#        maximum-pool-size: 10
#        minimum-idle: 10
#        idle-timeout: 600000
#        connection-timeout: 8000
#        max-lifetime: 1800000
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      jdbcUrl: ${SPRING_WRITER_DATASOURCE_URL}
#      username: ${SPRING_DATASOURCE_USERNAME}
#      password: ${SPRING_DATASOURCE_PASSWORD}
#    reader:
#      hikari:
#        maximum-pool-size: 10
#        minimum-idle: 10
#        idle-timeout: 600000
#        connection-timeout: 8000
#        max-lifetime: 1800000
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      jdbcUrl: ${SPRING_READER_DATASOURCE_URL}
#      username: ${SPRING_DATASOURCE_USERNAME}
#      password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    database: MYSQL
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        create_empty_composites.enabled: true
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: false
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
springdoc:
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  api-docs:
    enabled: false
security:
  jwt:
    token:
      secret-key: ${SECRET_KEY}
  admin:
    key: ${ADMIN_KEY}
    token: ${ADMIN_TOKEN}
cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
      endpoint: ${AWS_S3_ENDPOINT}
    cloudfront:
      endpoint: ${AWS_CLOUDFRONT_ENDPOINT}
    region:
      static: ${AWS_REGION_STATIC}
    stack:
      auto: false
image:
  folder:
    name: image-prod/

management:
  server:
    port: 9292
  endpoints:
    web:
      exposure:
        include: info, health, prometheus
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    health:
      show-components: never

server:
  tomcat:
    accept-count: 100
    max-connections: 2048
    threads:
      min-spare: 10
      max: 30
    mbeanregistry:
      enabled: true
