spring:
  config:
    activate:
      on-profile: dev
  application:
    name: staccato
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(+9U7fh5YoW3jdv2tGZp5CwKYFEp3abOG8Cya811nah1KaAYMqSeBQz7B6Zqc7lY0b6zM/wxckzkskm3zuK2lxasIlsMsPU2xogqqWDdq2J634HH7CCzHvaUFdQO3y5sombUXoc5M1FBYZm6ZwbtSoFNa8rF/lYkm+wTpcDxum6DGBLUbykjQ9tyaU1/yTBS2SecyoMcWb2xE5VTUcCIE0xdXtoKeSo640SfwfdjDIyk=)
    username: ENC(pvX1j0OBUpzxQBzlDxOty1HdBKoufY3UWN3yFwmdbwIWd6yz14FXaAiCVsNkuz3o)
    password: ENC(LzwPGUo4GEfmf88zBWpfRbAachfEbT4W6JqymJ5KlvvNv+nXP1xydOJPNg9FRV0p)
  jpa:
    database: MYSQL
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        create_empty_composites.enabled: true
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}

springdoc:
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    persist-authorization: true

security:
  jwt:
    token:
      secret-key: ENC(JvrdRNom3HUASeKu0KZWarAyIvp9dYgCa8WdtHTONUYNTHFiiOXLx6iTE+ePBXBFJ8wiuEE/xi4wLAXsq8O8OlsCiieO3I8LQPNJgEVo8y0=)
cloud:
  storage:
    mode: aws
  aws:
    region: ENC(VU25sKaZUPFns2J8GhgAyrioMpwOaWyMa4fBWSzX8LH3zInZc2upgBttgy7EaJWV)
    access-key: ENC(DDXR20vPDEmGxLzz60LAnbxTUj9dI4jCC4o97rZk0XDFTIZomabK7MqE3dJAw3JLf+4XL1pWxOOGXWdppeLV8Q==)
    secret-access-key: ENC(C5+4LXKTg/CWOBytDqpGxPcca5dmRwrO+TNkR3p2zhG8lcXHOgW+F2HU5Vbb+poElHxEKLNj+2WyM/8i+2+xuNmOViqvzYOfYB9pWOCquvo=)
    s3:
      bucket: ENC(MnK9Sl5yNhpwAsKstkveZsL/iID3qzzZWWLCy1yL+3HuKY1mqMQWUQS5zLgGllbnadCkrYdV9gVBkV+QQ8Gdqw==)
      endpoint: ENC(0RN/nJxbnj00Xm6p7CWx9ZiJFnWSh5cqUm6fpXn6WSPM5TYKT8muJVLfFAT5L8K1v8/yrdF3Vlv/1BO6UxvmQ6eTIZfQmJMyyS425PJqAXIB0rKR9QRqPr12YqmJzfOG)
    cloudfront:
      endpoint: ENC(rRtsw6K06QoebbN3wzzAhl+PtokIH3x9qHG7ArZNpsvj088sHa8STLaWuSNPnjfc/3EOziqXr5gZLuHeiksiVdzSnqMriMdKsR9q1JlvNAI=)
    stack:
      auto: false
image:
  folder:
    name: dev/

management:
  server:
    port: 9292
  endpoints:
    web:
      exposure:
        include: info, health, prometheus, beans, threaddump, loggers
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    health:
      show-components: never

  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95, 0.99
    enable:
      system: false
      process: false

  tracing:
    sampling:
      probability: 1.0

#otel:
#  exporter:
#    otlp:
#      endpoint: ENC(kKKPaBuuy/E4BbnbsLCKR1xFlP8Hi+BmDmdHX2W1S6iEewk8wxaJqTIeT9B8/+2GasBWrrCF47STnXAfdoi1lA==)
#    logging:
#      enabled: true
#  resource:
#    attributes:
#      service.name: staccato-backend
#      deployment.environment: dev

server:
  tomcat:
    mbeanregistry:
      enabled: true
  error:
    whitelabel:
      enabled: false
    include-message: never
    include-binding-errors: never

staccato:
  share:
    link-prefix: https://stage.staccato.kr/share/

fcm:
  admin-sdk: ENC(GSi9Wg37hQlOjaQOs4gQmkpUBsccksDdubYflG9QVzZyuMd78uEZD2sxxk74ifHCPCvToi3o7mEu4kRPXyeua4E66prJ5SdRlmsIdSH3i0MJOiSuAcmNlBUnhHW7KHGL6YPL7DLV51k4qInJNeultPfBleCZo53C6MnZALZx8zsaVE+KOMc8dPa+kuljlL4jxwssX8xHbhbnYxAHHLX/I7rxxld20oq1yYteinVHuOh3seFYc9+XuCWxrZ5xlbnJ63+qBa5YE7lOi3D+WWW5R2LZSX1BqRy+hcgYYS5IltwYll+7utSe2DaNoFjzncKkq0T8uS3QBdEi+lbqC+wxfw6MR2PDdITL78Z2sEJMfK7uyDRDpRD0wo9vtFw7pnpjDveS/AefWICTd/CSJe6MHH47T15L5dbEwvj+rCMKDTuukJAAG7D5FG5LGX9Itr5u3tm18BHCSUbOJOhAUe7KlA+eDoMF7Nr2+l16PGVV7xdLg/6vI4srZSDrCNXBzk20w4qeDgW92cS1vVpKCHVcAIq2MSseawnrNEDjMttX3JBYWBJE6YjTjOIXc2EQj6WMmrcR0lNSgDoCA57hh6xw+sq9vdTQKs/BuUvakk1LRz1FHniIicjFzbYZZ09S5oKKFWmNnE4j4vlF8RDf7sZOuEx5jrzBe3L4VYBao9Itq1ZUoQxqb7w+cpyuVWJ/0fUI+wXsH86pPnj+/uGb+tbQDAtgpMSRMLfL1PSLBBdoYGC/puRho4K1OBsnOY/CS5ortcmEqb0XELGsjTPCEwQY8mu7+uYCcFHTro4zMIfNO4dmet2o2nbVcptb3PQ6IhmmgpqhefpGrjdQSjuX3X5pFKnjPetfemAd3vIvzExGD0AoBv310DyGJEZ20RQI+wi5Wq9io5Hhwto+hXCyBker6eP/t7elju8m4r3Vo+MdeuMKQGXIBSWLjrIUAKzJ92H8Xgew3+GL+lGXA4by/3FYtMCzaenkh1Kod+L4sdw2WH3v78aLWbJKkzI0HGQWnLXy2ORGpxseCEaZJ2aAK1UiGOn/1i4Nk8QJwQYCvKsZnDa+jNpIaxBpHkfMBBgvrT16z3l41NRxhza3+AtWIFflSobdo0wTEF6lCHmhg1ugS49UXw8ycTJy5xCduEu6AB3MAhMm0Q+yBh1Mps3BNL11nhWy/GpmN07Wi8h+nLWYewL6ugJfGoAsf9hVmYcdWV2yu6PgkJPLACb1TNl3BiEUwScWoxkbOs8S84ix22GlbgpMqm3tmLTC9z0ZPf1SxKEbZoq8UDmpIFottqtp4RSQWxPRfIYwPK6fUGDfzL4zxyn9pMEP/Ndg2Z7yVa3c25EyTe/RBpy0CjpPnkPe0pBKCUObf1b3gfCgRjOI5jshOfvQLitDh64oUp6pEAdDIXnvNQJdvDX0mnb88P3VjzTEDC45l/R4aLi47py8rJiqchYJ29uB7jnck449rpkEX8L+lp484bxQ1uVBTFYU44Nvf3vapusUkhA5pjaiah7eJvVIb5OafTlsJ2IBrdHakjnQ0BHb0UzBcw57zIKYau2ex1zttHk8ZpiIQnZCuHs9isBQii+NDBhEprn5mGC1I2FJJkb1qB0EAD+iKMntJNucx8X9e7fELTV9sph65HBR0ZTtc8Kf935hj15HjSnD8bTmA327Y7kk8D354YanIoutYc7xKHRyoEqwXcw+sUlRvjXk+NRaQ0B0ZnjI5+IBckpA8c9aQ0UXJxE8X2tts+fnF163XwXkJesVOZdpDhGdhAgNePDxjbBuv5UnU928zsXcd6VPCdn3RjrIjL5g/6X+vr2n8jxiXG7u34FG1+ebc3QHizuOvCLfzs2Vco5x7HrWij6I6l10W464O5pmmHQ/fqa7/BkUT4gUWD4vyGwpuAtkcp8VNVjRoGQMGN76h/JYCuI+OtkiEIDnPrEP3hKzK1OI1XrPZBi0yFsvMGw86Y1gwQaTNii4Gb07GmNs9b/qXorJk07PdDXfd0xVNNOUL9720XTVsXTjuiD9558OKiAIXS8AwxEWedCMpp3ieXU6Wmxvl6OIvoswuZKzT/TBMbyNk7sjsrGZ1BKhng/Wzv8SuTUhffTu/gD/d8FLMKhn+X3hSfcJmUentE7L2CzwGHR5u7Us9FJRcv6ARhJAkYkwmH95JDkhCyK9iRK0yPyeFpqmx6yBleEZJIz7KqcDAgB7fjsg9ZcIPIPEa89E7ExlOtzVv+irJ92TKFp5a96sH6hDukh2EIKJROzFEkPqxyhBGVHKY5QLhr35kPgpoKYt0Onf3GGp1Q8BDTm0FdY751dE4PHpJOsLrmM/l8Crt7x6knLpTIWQylS9YF6zNkBEvyRKDiXLxfaDYtRfdJAyadMsN4qFafUGncWZ9NJ4ob0MwheHlCZXIYTgrfUrijIcum7YjysWkSs3oLyYcBA5gkoh4nDCBGKbKv6HpxqGT2I10P8mOn+JmQFomAzs1OZ6Mpdiz/Zr0JKo4WfWFMcf7fPn1BGGLnkiDB8wc2U+0+1jPml8vY2O9qYeQb38TAO8Bk/+X04L5Vp/j8XsfbOl664thN9NBwkzpZLkoNDThuKYkt58X5Xu7h9vLgp8hcXR/hfjT4yN7x+WteK+B4GgCV1GTmEYT4UtQyhd0CMMo97nKCj8SgpLWYGGffAsL8HJ4VxHaI+x0eeq7vrGfr8pfYa9JdU70KeU2k7EsGWaI/MehGe8mmbkiMYhehEkV5jYcNstzedMkXCyUWEwDM2KvHI2cnspI2cT3vob6u8PUdM/8ide9OwiYz/x38mHlvEtrFpg4c4IuZtHYdl0K44Na/VsAzFoXwBM4YLhsGEBZWTTHIFSuae7049dzlLG3fXh5ieQXjYR9GpQM1gU0twzXTrdgd2NxXfHA5ADO4YtL5EXCI88VtLs2HFakouRYTPHAykVq1gZdBwHQnsa80fR6OlfDBwF0se4IASw8AN4bz3Ki+UoTJGecN3MQDzhuSrmd3/6u7PvJtFZm8sMl3sAJmW6eYtYBERy+WcxIlSDzrfo/uH7zxuTdLIs8Yw053+m0m9z/Tu9avfQkwXaPpkCSgtQtT8h17m1Bb6HjImvS5SMrXL7lhfeRiT+7XjGWJeTPX9vNM0sELTWgIkAcg2OuvGQdIrqot0JNoe++Lm+DXZqf20rqBB3XxSAg4FXVXt9PUjAVuFGXon85m70K+LvzSgd+RFAOK+8q336kPGNBA==)

push:
  enabled: true
