<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <springProfile name="dev">
        <include resource="error-appender.xml"/>
        <include resource="warn-appender.xml"/>
        <include resource="info-appender.xml"/>

        <root level="info">
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="WARN"/>
        </root>
    </springProfile>

    <springProfile name="stage">
        <include resource="error-appender.xml"/>
        <include resource="warn-appender.xml"/>
        <include resource="info-appender.xml"/>

        <root level="info">
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="WARN"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="error-appender.xml"/>
        <include resource="warn-appender.xml"/>
        <include resource="info-appender.xml"/>

        <root level="info">
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="WARN"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="console-appender.xml"/>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.staccato" level="INFO"/>
</configuration>
