name: Android CI for develop

on:
  pull_request:
    paths: 'android/**'
    branches: [ "develop" ]
  workflow_dispatch:

env:
  BASE_URL: ${{ secrets.BASE_URL }}
  GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
  SECRETS_PROPERTIES: ${{ secrets.SECRETS_PROPERTIES }}
  LOCAL_DEFAULTS_PROPERTIES: ${{ secrets.LOCAL_DEFAULTS_PROPERTIES }}
  UPLOAD_KEY_STORE_JKS: ${{ secrets.UPLOAD_KEY_STORE_JKS }}
  KEY_STORE_PROPERTIES: ${{ secrets.KEY_STORE_PROPERTIES }}

jobs:
  setup:
    name: Setup for CI
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./android/Staccato_AN

    outputs:
      files-prepared: ${{ steps.upload-files.outputs.artifact-name }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Create Config Files
        run: |
          echo "base_url=\"$BASE_URL\"" >> local.properties
          echo $SECRETS_PROPERTIES > secrets.properties
          echo $LOCAL_DEFAULTS_PROPERTIES > local.defaults.properties
          echo $GOOGLE_SERVICES_JSON > app/google-services.json

      - name: Upload Config Files
        uses: actions/upload-artifact@v4
        with:
          name: config-files
          path: |
            android/Staccato_AN/local.properties
            android/Staccato_AN/secrets.properties
            android/Staccato_AN/local.defaults.properties
            android/Staccato_AN/app/google-services.json
          retention-days: 1
          overwrite: 'true'

  ktlint-check:
    name: Check Ktlint
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        shell: bash
        working-directory: ./android/Staccato_AN

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Download Config Files
        uses: actions/download-artifact@v4
        with:
          name: config-files
          path: ./android/Staccato_AN

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Check Lint
        run: ./gradlew ktlintCheck

  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        shell: bash
        working-directory: ./android/Staccato_AN

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Download Config Files
        uses: actions/download-artifact@v4
        with:
          name: config-files
          path: ./android/Staccato_AN

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Run Unit Test
        run: ./gradlew testDebugUnitTest --stacktrace --no-build-cache --no-parallel

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/**/*.xml'

  ui-tests:
    name: Run UI Test on [API ${{ matrix.api-level }} - ${{ matrix.profile }}]
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        shell: bash
        working-directory: ./android/Staccato_AN

    strategy:
      matrix:
        include:
          - api-level: 28
            profile: "Pixel 4"
          - api-level: 34
            profile: "Pixel 6"
          - api-level: 34
            profile: "Nexus 7"
      fail-fast: false

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Download Config Files
        uses: actions/download-artifact@v4
        with:
          name: config-files
          path: ./android/Staccato_AN

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Cache Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Cache AVD
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}-${{ matrix.profile }}

      - name: Create AVD and Generate Snapshot for Caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{ matrix.profile }}
          force-avd-creation: false
          target: google_apis
          arch: x86_64
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run UI Test with Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{ matrix.profile }}
          force-avd-creation: false
          target: google_apis
          arch: x86_64
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedCheck --stacktrace

      - name: Upload UI Test Results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.api-level }}-${{ matrix.profile }}
          path: |
            **/build/reports/*
            **/build/outputs/*/connected/*