# PR 통계 데이터 제공
## pr stats: 기간 내(혹은 최신 n개) 각 pr에 대한 통계 데이터 제공
## prList stats: 기간 내(혹은 최신 n개) 전체 pr에 대한 평균 통계 데이터 제공
## user stats: user 별 통계 데이터 제공
name: PR Stats

on:
  workflow_dispatch:
    inputs:
      period:
        description: 'PR 통계를 추출할 기간 (예: 2024-07-17~2024-09-01 또는 2024-07-17~)'
        required: false

jobs:
  pr-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: PR Stats
        uses: "naver/pr-stats@v1.0.0"
        with:
          token: ${{ secrets.HANNAH_PERSONAL_ACCESS_TOKEN }}
          ignoreUsers: "kargowild"
          count: '20'
          baseBranch: "develop"
          output: "console"
          # period가 입력되었을 경우에만 전달
          period: ${{ github.event.inputs.period || '' }}
